{% load static %}
<!DOCTYPE html>

<html lang="en-GB" class="has-cookie-bar cookie-bar-bottom-bar cookie-bar-bar">
<script async="" src="{% static 'gtm.js.download'%}"></script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<link rel="stylesheet" type="text/css" href="{% static 'autoptimize_single_7bc0481e67f36fc7da729dbbba987f3e.css' %}">
	<title>MagicSpinsCasino – Free Social Casinos</title>
	<meta name="robots" content="noindex,follow">
	<link rel="dns-prefetch" href="https://s.w.org/">
	<link rel="alternate" type="application/rss+xml" title="MagicSpinsCasino » Feed" href="https://magicspinscasino.com/feed/">
	<link rel="alternate" type="application/rss+xml" title="MagicSpinsCasino » Comments Feed" href="https://magicspinscasino.com/comments/feed/">
	<script src="{% static 'wp-emoji-release.min.js.download'%}" type="text/javascript" ></script>
	<style type="text/css' %}">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel="stylesheet" id="contact-form-7-css" href="{% static 'autoptimize_single_5ad1cfa3f5175f627385651790ed0bbd.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="cookie-consent-style-css" href="{% static 'autoptimize_single_014cdf1567bab75384fd410df6b91525.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="mrfreespin-style-css" href="{% static 'autoptimize_single_11a6a6a6c9452078475ef4e8179b86cb.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_fonticons_ii-css" href="{% static 'autoptimize_single_598e6f2032339b5f7863e82bfe221c5b.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_fonticons_fa-css" href="{% static 'autoptimize_single_f7c465b2b188aaf6cac051fc38b2df6e.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="select2-css" href="{% static 'select2.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_crop-css" href="{% static 'autoptimize_single_59336521688d38bb8f1c5501c73ce211.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_modal-css" href="{% static 'autoptimize_single_0a421366fae349278a946edea0737c15.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_styles-css" href="{% static 'autoptimize_single_da72b705d53b1c6699752dee6bc29be5.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_members-css" href="{% static 'autoptimize_single_1b502dcaf362e223aba15fbf952d9dcd.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_profile-css" href="{% static 'autoptimize_single_65f13f50b2ee0913e372fbcfdb74293f.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_account-css" href="{% static 'autoptimize_single_ea2e1a8677ef400bf192008296cf5d03.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_misc-css" href="{% static 'autoptimize_single_e77e47646d4132c1c2863a6042f37a51.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_fileupload-css" href="{% static 'autoptimize_single_cafad536f053c0a2e9859759402cb72b.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_datetime-css" href="{% static 'autoptimize_single_924c1901023eb79703ae05c6af95a5d6.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_datetime_date-css" href="{% static 'autoptimize_single_fb1e35155d11a8c40e32f8be9351ee53.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_datetime_time-css" href="{% static 'autoptimize_single_852535731b22b629e2eddb4459613c4c.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_raty-css" href="{% static 'autoptimize_single_7ac9ac43038fdbe5e4a828838b3a0436.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_scrollbar-css" href="{% static 'autoptimize_single_bbf51db3db51ab076373b74ef9d07749.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_tipsy-css" href="{% static 'autoptimize_single_6fea8331ec95a566deb3fd8f2e5642e9.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_responsive-css" href="{% static 'autoptimize_single_e5bb52b0f5f400ed5dbc01a6c03272c8.css' %}" type="text/css" media="all">
	<link rel="stylesheet" id="um_default_css-css" href="{% static 'autoptimize_single_974c83b93521b86ce94c15d63c9ccf1e.css' %}" type="text/css" media="all">
	<script type="text/javascript" src="{% static 'jquery.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'jquery-migrate.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-gdpr.min.js.download'%}"></script>
	<link rel="https://api.w.org/" href="https://magicspinscasino.com/wp-json/">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://magicspinscasino.com/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://magicspinscasino.com/wp-includes/wlwmanifest.xml">
	<meta name="generator" content="WordPress 5.1.1">
	<link rel="shortlink" href="https://magicspinscasino.com/">
	<link rel="alternate" type="application/json+oembed" href="https://magicspinscasino.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmagicspinscasino.com%2F">
	<link rel="alternate" type="text/xml+oembed" href="https://magicspinscasino.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmagicspinscasino.com%2F&amp;format=xml">
	<style id="ctcc-css" type="text/css" media="screen">
		#catapult-cookie-bar {
							box-sizing: border-box;
							max-height: 0;
							opacity: 0;
							z-index: 99999;
							overflow: hidden;
							color: #ffffff;
							position: fixed;
							left: 0;
							bottom: 0;
							width: 100%;
							background-color: #222222;
						}
						#catapult-cookie-bar a {
							color: #fff;
						}
						#catapult-cookie-bar .x_close span {
							background-color: #222222;
						}
						button#catapultCookie {
							background:#ffffff;
							color: #222222;
							border: 0; padding: 6px 9px; border-radius: 3px;
						}
						#catapult-cookie-bar h3 {
							color: #ffffff;
						}
						.has-cookie-bar #catapult-cookie-bar {
							opacity: 1;
							max-height: 999px;
							min-height: 30px;
						}
	</style>
	<style type="text/css' %}">
		.request_name {
						display: none !important;
					}
	</style>
	<link rel="alternate" href="https://magicspinscasino.com/" hreflang="en">
	<link rel="alternate" href="https://magicspinscasino.com/fi/" hreflang="fi">
	<link rel="alternate" href="https://magicspinscasino.com/de/" hreflang="de">
	<style type="text/css' %}">
		.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
	</style>
	<link rel="icon" href="https://magicspinscasino.com/wp-content/uploads/2019/04/Magic-Favicon.png" sizes="32x32">
	<link rel="icon" href="https://magicspinscasino.com/wp-content/uploads/2019/04/Magic-Favicon.png" sizes="192x192">
	<link rel="apple-touch-icon-precomposed" href="https://magicspinscasino.com/wp-content/uploads/2019/04/Magic-Favicon.png">
	<meta name="msapplication-TileImage" content="https://magicspinscasino.com/wp-content/uploads/2019/04/Magic-Favicon.png">
	<style type="text/css' %}">
		nav.navbar {
			     text-transform: uppercase;
			 }
			 .page-template-default .section-content-inner {
			     background: #fff;
			     padding: 1rem 2rem;
			 }
			 .inner-body.content {
			     text-transform: uppercase;
			 }
			 .wpcf7 input {
			     font-size: 0.9rem;
			     text-transform: uppercase;
			 }
			 input.wpcf7-form-control.wpcf7-submit {font-size: 20px !important;padding: 0.7rem 3.4rem;background-color: #23d160;border-radius: 0;font-weight: 800 !important;color: #000 !important;    border: 0 !important;}
			 textarea.wpcf7-form-control.wpcf7-textarea {
			     padding: .5rem;
			     font-size: 0.9rem;
			     text-transform: uppercase;
			 }
			 form.wpcf7-form {
			     margin-top: 3rem;
			 }
			 div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
			     border: 2px solid #23d160;
			 }
			 .game-area {
			     border: 5px solid #5c3898;
			     border-radius: 12px;
			     overflow: hidden;
			     text-align: center;
			 }
			 .login-register-buttons a {
			     text-transform: uppercase;
			 }
			 .login-register-buttons a {
			     box-shadow: none !important;
			     padding-left: 1rem;
			     padding-right: 1rem;
			 }
			 .login-register-buttons a.button.is-light.btn-other {
			     color: #fff;
			     background: #000;
			 }
			 .login-register-box {
			     text-transform: uppercase;
			 }
			 .site-footer span.big-logo {
			     width: 85px;
			     height: 80px;
			 }
			 a.navbar-item {
			     text-transform: uppercase;
			 }
		     @media (min-width: 768px) {
		      div#content {
		          min-height: calc(100vh - 477px);
		      }
		     }
				 @media (max-width: 768px) {
					 .notification {
					   padding: 1.2rem;
					 }
				 }
	</style>
</head>

<body class="home page-template page-template-slot-games page-template-slot-games-php page page-id-8 logged-in">
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBFWL2B" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<div id="page" class="site">
		<style></style>
		<header id="masthead" class="site-header">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="https://magicspinscasino.com/" style="">
						<img src="{% static 'logo.png' %}">
					</a>
					{% block content %}
					{% if user.is_authenticated %}<div class="navbar-item buttonsDiv hello-user"> <span class="welcome-back">{{ user.username }}</span>  <a href="{% url 'logout' %}"class="log-out button  btn-other"> Log Out </a>
					</div>{% else %}
					<div class="buttons"> <a href="{% url 'signup' %}" class="button  joinBtn btn-main"> Join Now </a> <a href="{% url 'login' %}" class="button  loginBtn btn-other"> Log In </a></div>
					{% endif %}
				</div>
				<div class="navbar-item has-dropdown is-hoverable navbar-item-languages is-hidden-mobile">
					<div class="navbar-item langDiv" style="margin:10px auto; ">
						<li class="lang-item lang-item-2 lang-item-en lang-item-first current-lang">
							<a lang="en-GB" hreflang="en-GB" href="https://magicspinscasino.com/">
								<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNpinDRzn5qN3uFDt16+YWBg+Pv339+KGN0rbVP+//2rW5tf0Hfy/2+mr99+yKpyOl3Ydt8njEWIn8f9zj639NC7j78eP//8739GVUUhNUNuhl8//ysKeZrJ/v7z10Zb2PTQTIY1XZO2Xmfad+f7XgkXxuUrVB6cjPVXef78JyMjA8PFuwyX7gAZj97+T2e9o3d4BWNp84K1NzubTjAB3fH0+fv6N3qP/ir9bW6ozNQCijB8/8zw/TuQ7r4/ndvN5mZgkpPXiis3Pv34+ZPh5t23//79Rwehof/9/NDEgMrOXHvJcrllgpoRN8PFOwy/fzP8+gUlgZI/f/5xcPj/69e/37//AUX+/mXRkN555gsOG2xt/5hZQMwF4r9///75++f3nz8nr75gSms82jfvQnT6zqvXPjC8e/srJQHo9P9fvwNtAHmG4f8zZ6dDc3bIyM2LTNlsbtfM9OPHH3FhtqUz3eXX9H+cOy9ZMB2o6t/Pn0DHMPz/b+2wXGTvPlPGFxdcD+mZyjP8+8MUE6sa7a/xo6Pykn1s4zdzIZ6///8zMGpKM2pKAB0jqy4UE7/msKat6Jw5mafrsxNtWZ6/fjvNLW29qv25pQd///n+5+/fxDDVbcc//P/zx/36m5Ub9zL8+7t66yEROcHK7q5bldMBAgwADcRBCuVLfoEAAAAASUVORK5CYII=" title="English" alt="English"><span style="margin-left:0.3em;"></span>
							</a>
						</li>
						<li class="lang-item lang-item-31 lang-item-fi">
							<a lang="fi" hreflang="fi" href="https://magicspinscasino.com/fi/">
								<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAF7SURBVHjaYnz6+jMDFDBJu5xg+PWPgYfp6jIDLg6GP/8YGP5BwR8w+eHTF4AAYmFiYJAQ4QEq////f2uZxr////7+ZdBQEgByIYLI4NqdXwABxPIPbDhE+tmbn0BT//799x8bYGRk/PXnH0AAsfwDqvgHNez3XyD7358//4Ek0ARk1Qz//zGANQAEECOD8cH2EpWnb34BDf71+/+fv0BtQHf9+/XnP1Dnb5Ag0Ih/v/7+kxFhX9WwGyAABXRsAwAIw0CQgv3nDbwV+DSuzpLlvSr2Dk5XN5lUYFOXDqPh3TmhvgBiYfj3B2QlyFCwarAiIADqB9r57y8Q/gNjkAJgqAEEEOPt++/lZHj/gR0d13EXaCoQra1X+Yfqc6AngZ4+fv4BQACxMLH8Y2YEcoACDBDVQARWgYZAAOg1gAACOukfPMjFBVnBHgAZxoACGOF6AAKIBejoOw/eQCJyVvFRBoZfwCiPtPzPwwWM6X9A/Ace2/8YPn35AhBgAOvHaZyBALjqAAAAAElFTkSuQmCC" title="Suomi" alt="Suomi"><span style="margin-left:0.3em;"></span>
							</a>
						</li>
						<li class="lang-item lang-item-5 lang-item-de">
							<a lang="de-DE" hreflang="de-DE" href="https://magicspinscasino.com/de/">
								<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGzSURBVHjaYvTxcWb4+53h3z8GZpZff/79+v3n/7/fDAz/GHAAgABi+f37e3FxOZD1Dwz+/v3z9y+E/AMFv3//+Qumfv9et241QACxMDExAVWfOHkJJAEW/gUEP0EQDn78+AHE/gFOQJUAAcQiy8Ag8O+fLFj1n1+/QDp+/gQioK7fP378+vkDqOH39x9A/RJ/gE5lAAhAYhzcAACCQBDkgRXRjP034R0IaDTZTFZn0DItot37S94KLOINerEcI7aKHAHE8v/3r/9//zIA1f36/R+o4tevf1ANYNVA9P07RD9IJQMDQACxADHD3z8Ig4GMHz+AqqHagKp//fwLVA0U//v7LwMDQACx/LZiYFD7/5/53/+///79BqK/EMZ/UPACSYa/v/8DyX9A0oTxx2EGgABi+a/H8F/m339BoCoQ+g8kgRaCQvgPJJiBYmAuw39hxn+uDAABxMLwi+E/0PusRkwMvxhBGoDkH4b/v/+D2EDyz///QB1/QLb8+sP0lQEggFh+vGXYM2/SP6A2Zoaf30Ex/J+PgekHwz9gQDAz/P0FYrAyMfz7wcDAzPDtFwNAgAEAd3SIyRitX1gAAAAASUVORK5CYII=" title="Deutsch" alt="Deutsch"><span style="margin-left:0.3em;"></span>
							</a>
						</li>
					</div>
				</div>
				<ul id="primary-menu" class="navbar-end"><a class="navbar-item About Us" href="{% url 'about' %}">About Us</a><a class="navbar-item Contact" href="{% url 'contact' %}">Contact</a>
					<div class="navbar-item Games has-dropdown is-hoverable"> <a class="navbar-link" href="https://magicspinscasino.com/#">Games</a>
						<div class="navbar-dropdown"><a class="navbar-item TOP GAMES" href="https://magicspinscasino.com/top-games/">TOP GAMES</a><a class="navbar-item JUST RELEASED" href="https://magicspinscasino.com/just-released/">JUST RELEASED</a><a class="navbar-item FAVOURITE GAMES" href="https://magicspinscasino.com/favourite-games/">FAVOURITE GAMES</a><a class="navbar-item SLOTS" href="https://magicspinscasino.com/slots/">SLOTS</a><a class="navbar-item TABLE GAMES" href="https://magicspinscasino.com/table-games/">TABLE GAMES</a>
						</div>
					</div>
				</ul>
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample2"> <span aria-hidden="true"></span>  <span aria-hidden="true"></span>  <span aria-hidden="true"></span> 
				</a>
				<div id="navbarBasicExample2" class="navbar-menu">
					
					<div class="navbar-item buttonsDiv hello-user"> {% if user.is_authenticated %}<div class="navbar-item buttonsDiv hello-user"> <span class="welcome-back">{{ user.username }}</span>  <a href="{% url 'logout' %}"class="log-out button  btn-other"> Log Out </a>
					</div>{% else %}
					<div class="buttons"> <a href="{% url 'logout' %}" class="button  joinBtn btn-main"> Join Now </a> <a href="" class="button  loginBtn btn-other"> Log In </a></div>
					{% endif %}
{% endblock %}
					</div>
					<ul id="primary-menu2" class="navbar-end"><a class="navbar-item About Us" href="{% url 'about' %}">About Us</a><a class="navbar-item Contact" href="{% url 'contact' %}">Contact</a>
						<div class="navbar-item Games has-dropdown is-hoverable"> <a class="navbar-link" href="https://magicspinscasino.com/#">Games</a>
							<div class="navbar-dropdown"><a class="navbar-item TOP GAMES" href="https://magicspinscasino.com/top-games/">TOP GAMES</a><a class="navbar-item JUST RELEASED" href="https://magicspinscasino.com/just-released/">JUST RELEASED</a><a class="navbar-item FAVOURITE GAMES" href="https://magicspinscasino.com/favourite-games/">FAVOURITE GAMES</a><a class="navbar-item SLOTS" href="https://magicspinscasino.com/slots/">SLOTS</a><a class="navbar-item TABLE GAMES" href="https://magicspinscasino.com/table-games/">TABLE GAMES</a>
							</div>
						</div>
					</ul>
					<div class="navbar-item has-dropdown is-hoverable navbar-item-languages">
						<div class="navbar-dropdown">
							<ul>
								<li class="lang-item lang-item-2 lang-item-en lang-item-first current-lang">
									<a lang="en-GB" hreflang="en-GB" href="https://magicspinscasino.com/">
										<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNpinDRzn5qN3uFDt16+YWBg+Pv339+KGN0rbVP+//2rW5tf0Hfy/2+mr99+yKpyOl3Ydt8njEWIn8f9zj639NC7j78eP//8739GVUUhNUNuhl8//ysKeZrJ/v7z10Zb2PTQTIY1XZO2Xmfad+f7XgkXxuUrVB6cjPVXef78JyMjA8PFuwyX7gAZj97+T2e9o3d4BWNp84K1NzubTjAB3fH0+fv6N3qP/ir9bW6ozNQCijB8/8zw/TuQ7r4/ndvN5mZgkpPXiis3Pv34+ZPh5t23//79Rwehof/9/NDEgMrOXHvJcrllgpoRN8PFOwy/fzP8+gUlgZI/f/5xcPj/69e/37//AUX+/mXRkN555gsOG2xt/5hZQMwF4r9///75++f3nz8nr75gSms82jfvQnT6zqvXPjC8e/srJQHo9P9fvwNtAHmG4f8zZ6dDc3bIyM2LTNlsbtfM9OPHH3FhtqUz3eXX9H+cOy9ZMB2o6t/Pn0DHMPz/b+2wXGTvPlPGFxdcD+mZyjP8+8MUE6sa7a/xo6Pykn1s4zdzIZ6///8zMGpKM2pKAB0jqy4UE7/msKat6Jw5mafrsxNtWZ6/fjvNLW29qv25pQd///n+5+/fxDDVbcc//P/zx/36m5Ub9zL8+7t66yEROcHK7q5bldMBAgwADcRBCuVLfoEAAAAASUVORK5CYII=" title="English" alt="English"><span style="margin-left:0.3em;"></span>
									</a>
								</li>
								<li class="lang-item lang-item-31 lang-item-fi">
									<a lang="fi" hreflang="fi" href="https://magicspinscasino.com/fi/">
										<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAF7SURBVHjaYnz6+jMDFDBJu5xg+PWPgYfp6jIDLg6GP/8YGP5BwR8w+eHTF4AAYmFiYJAQ4QEq////f2uZxr////7+ZdBQEgByIYLI4NqdXwABxPIPbDhE+tmbn0BT//799x8bYGRk/PXnH0AAsfwDqvgHNez3XyD7358//4Ek0ARk1Qz//zGANQAEECOD8cH2EpWnb34BDf71+/+fv0BtQHf9+/XnP1Dnb5Ag0Ih/v/7+kxFhX9WwGyAABXRsAwAIw0CQgv3nDbwV+DSuzpLlvSr2Dk5XN5lUYFOXDqPh3TmhvgBiYfj3B2QlyFCwarAiIADqB9r57y8Q/gNjkAJgqAEEEOPt++/lZHj/gR0d13EXaCoQra1X+Yfqc6AngZ4+fv4BQACxMLH8Y2YEcoACDBDVQARWgYZAAOg1gAACOukfPMjFBVnBHgAZxoACGOF6AAKIBejoOw/eQCJyVvFRBoZfwCiPtPzPwwWM6X9A/Ace2/8YPn35AhBgAOvHaZyBALjqAAAAAElFTkSuQmCC" title="Suomi" alt="Suomi"><span style="margin-left:0.3em;"></span>
									</a>
								</li>
								<li class="lang-item lang-item-5 lang-item-de">
									<a lang="de-DE" hreflang="de-DE" href="https://magicspinscasino.com/de/">
										<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGzSURBVHjaYvTxcWb4+53h3z8GZpZff/79+v3n/7/fDAz/GHAAgABi+f37e3FxOZD1Dwz+/v3z9y+E/AMFv3//+Qumfv9et241QACxMDExAVWfOHkJJAEW/gUEP0EQDn78+AHE/gFOQJUAAcQiy8Ag8O+fLFj1n1+/QDp+/gQioK7fP378+vkDqOH39x9A/RJ/gE5lAAhAYhzcAACCQBDkgRXRjP034R0IaDTZTFZn0DItot37S94KLOINerEcI7aKHAHE8v/3r/9//zIA1f36/R+o4tevf1ANYNVA9P07RD9IJQMDQACxADHD3z8Ig4GMHz+AqqHagKp//fwLVA0U//v7LwMDQACx/LZiYFD7/5/53/+///79BqK/EMZ/UPACSYa/v/8DyX9A0oTxx2EGgABi+a/H8F/m339BoCoQ+g8kgRaCQvgPJJiBYmAuw39hxn+uDAABxMLwi+E/0PusRkwMvxhBGoDkH4b/v/+D2EDyz///QB1/QLb8+sP0lQEggFh+vGXYM2/SP6A2Zoaf30Ex/J+PgekHwz9gQDAz/P0FYrAyMfz7wcDAzPDtFwNAgAEAd3SIyRitX1gAAAAASUVORK5CYII=" title="Deutsch" alt="Deutsch"><span style="margin-left:0.3em;"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>
	
	<div id="content" class="site-content">
	<div id="primary" class="content-area">
	<main id="main" class="site-main">
		<div class="the-banner content" style="background-image: url('https://magicspinscasino.com/wp-content/uploads/2019/04/bg.png');">
			<div class="container">
				<div class="banner-inner">
					<div class="banner-content">
						<h2 style="text-align: center;"><span class="big-logo">&nbsp;</span><span class="big-title">SOCIAL CASINO</span></h2>
						<p style="text-align: center;">100% FREE TO PLAY. NO REAL MONEY REQUIRED.</p>
						
					</div>
				</div>
			</div>
		</div></div>
		<div class="container">
			<div class="main-body">
				<div class="inner-body content">
					<div class="section-content">
						<div class="section-content-inner">
							<h1 style="text-align: center; margin-top: 0;">Join Magic Spins Casino</h1>
							<p style="text-align: center;">Register now to experience the magic!</p>
							<p style="text-align: center;"></p>
							<div class="um um-register um-34 uimob500" style="opacity: 1;">
								<div class="um-form">
									<form method="post" action="">
																			
{% csrf_token %}
  {{ form.as_p }}
										
									
									
										<div class="um-col-alt">
											<div class="um-left um-half">
												<input type="submit" value="Register" class="um-button" id="um-submit-btn">
											</div>
											<div class="um-right um-half"> <a href="{% url 'login' %}" class="um-button um-alt"> Login </a>
											</div>
											<div class="um-clear"></div>
										</div>
									</form>
								</div>
							</div>
							<style type="text/css">
								.um-34.um {
									max-width: 450px;
								}
							</style>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
	</div><style>
			.bottom-logos-new img{
			  max-height:20px;
			}
			div.powered-by, .software-providers-new{
			  display:none;
			}
		</style>
		<footer id="colophon" class="site-footer">
			<div class="inner-footer">
				<div class="container">
					<div class="footer-nav">
						<ul id="footer-nav-items" class=""><a class="navbar-item About us" href="{% url 'about' %}">About us</a><a class="navbar-item Terms &amp; Conditions" href="https://magicspinscasino.com/terms-and-conditions/">Terms &amp; Conditions</a><a class="navbar-item Privacy &amp; Cookie Policy" href="https://magicspinscasino.com/privacy-cookie-policy/">Privacy &amp; Cookie Policy</a><a class="navbar-item Contact Us" href="{% url 'contact' %}">Contact Us</a>
						</ul>
					</div>
					<div class="bottom-logos-new">
						<img class="lazyload" src="{% static 'ph-slot.jpg'%}" data-src="{% static 'ph-slot.jpg' %}">
						<img class="lazyload" src="{% static 'ph-slot.jpg&#39;)" data-src="https://magicspinscasino.com/wp-content/themes/mrfreespin/img/devices-new.png">
						<img class="lazyload" src="{% static 'ph-slot.jpg&#39;)" data-src="https://magicspinscasino.com/wp-content/themes/mrfreespin/img/apple.png">
						<img class="lazyload" src="{% static 'ph-slot.jpg&#39;)" data-src="https://magicspinscasino.com/wp-content/themes/mrfreespin/img/android-logo.png">
					</div>
					<div class="bottom-logos-new">
						<img class="lazyload" src="{% static 'ph-slot.jpg&#39;)" data-src="https://magicspinscasino.com/wp-content/themes/mrfreespin/img/plus-18-movie.png">
						<img class="lazyload" src="{% static 'ph-slot.jpg&#39;)" data-src="https://magicspinscasino.com/wp-content/themes/mrfreespin/img/No-Spam.png">
					</div>
					<p style="text-align:center;"><span class="big-logo">&nbsp;</span>
					</p>
					<div class="disc">DISCLAIMER: THERE IS NO REAL MONEY GAMING OR BETTING ON THIS WEBSITE. ALL GAMES ARE SOCIAL CASINO GAMES AND SO NO REAL PRIZES WILL BE ISSUED. MAGICSPINCASINO.COM IS SIMPLY A PORTAL TO ACCESS SOCIAL CASINO GAMES FOR FREE AND WE TAKE NO RESPONSIBILITY FOR THE GAMES CONTENT. PLEASE CONTACT US IF YOU BELIEVE THAT ANY GAME CAUSES OFFENCE AND/OR HARM. MAGICSPINSCASINO.COM IS ABOUT ENTERTAINMENT ABOVE ALL ELSE. HAVE FUN AND PLAY AS MUCH AS YOU LIKE. PLEASE REMEMBER THAT WINNING AT THESE GAMES DOES NOT MEAN YOU WILL HAVE ANY FUTURE WINS AT ANY “REAL STAKES” GAMBLING GAMES.</div>
					<div class="footer-disc">Money is NOT needed to play on this site</div>
					<div class="powered-by">MagicSpinCasino is powered by the following providers in order to give you the best experience.</div>
					<div class="software-providers-new">
						<img class="lazyload" src="{% static 'ph-slot.jpg&#39;)" data-src="https://magicspinscasino.com/wp-content/themes/mrfreespin/img/playson.png">
						<img class="lazyload" src="{% static 'ph-slot.jpg&#39;)" data-src="https://magicspinscasino.com/wp-content/themes/mrfreespin/img/netent-logo-new.png">
					</div>
					<div style="text-align: center; margin-top: .5rem;" class="copyright">© 2019 magicspinscasino.com</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="the-Modal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-content iframe-modal">
			<div class="game-modal">
				<div class="game-area">
					<div class="iframe-box">
						<iframe class="the-iframe" src="{% static 'saved_resource.html"></iframe>
					</div>
				</div>
			</div>
		</div>
		<button class="modal-close is-large" aria-label="close"></button>
	</div>
	<div id="um_upload_single" style="display:none"></div>
	<div id="um_view_photo" style="display:none"> <a href="https://magicspinscasino.com/#" data-action="um_remove_modal" class="um-modal-close"><i class="um-faicon-times"></i></a>
		<div class="um-modal-body photo">
			<div class="um-modal-photo"></div>
		</div>
	</div>	
	<script type="text/javascript" src="{% static 'scripts.js.download'%}"></script>	
	<script type="text/javascript" src="{% static 'uk-cookie-consent-js.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'navigation.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'skip-link-focus-fix.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'imagesloaded.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'masonry.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'jquery.masonry.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'select2.full.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'underscore.min.js.download'%}"></script>	
	<script type="text/javascript" src="{% static 'wp-util.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-crop.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-modal.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-jquery-form.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-fileupload.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'picker.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'picker.date.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'picker.time.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'legacy.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-raty.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-tipsy.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-scrollbar.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-functions.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-responsive.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-conditional.min.js.download'%}"></script>
	
	<script type="text/javascript" src="{% static 'um-scripts.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-members.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-profile.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'um-account.min.js.download'%}"></script>
	<script type="text/javascript" src="{% static 'wp-embed.min.js.download'%}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($){
														if(!catapultReadCookie("catAccCookies")){ // If the cookie has not been set then show the bar
									$("html").addClass("has-cookie-bar");
									$("html").addClass("cookie-bar-bottom-bar");
									$("html").addClass("cookie-bar-bar");
															}
																			});
	</script>
	<div id="catapult-cookie-bar" class="">
		<div class="ctcc-inner "><span class="ctcc-left-side">This site uses cookies. <a class="ctcc-more-info-link" tabindex="0" target="_blank" href="https://magicspinscasino.com/privacy-cookie-policy/">Read more</a></span><span class="ctcc-right-side"><button id="catapultCookie" tabindex="0" onclick="catapultAcceptCookies();">Ok</button></span>
		</div>
	</div>
	<script type="text/javascript">
		jQuery( '#request' ).val( '' );
	</script>
	<script type="text/javascript" src="{% static 'lazyload.min.js.download'%}"></script>
	<script type="text/javascript">
		lazyload();
		  // menu
		  // Get all "navbar-burger" elements
		  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
		
		  // Check if there are any navbar burgers
		  if ($navbarBurgers.length > 0) {
		
		    // Add a click event on each of them
		    $navbarBurgers.forEach( el => {
		      el.addEventListener('click', () => {
		
		        // Get the target from the "data-target" attribute
		        const target = el.dataset.target;
		        const $target = document.getElementById(target);
		
		        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
		        el.classList.toggle('is-active');
		        $target.classList.toggle('is-active');
		
		      });
		    });
		  }
		  // game area functionality
		  let gameArea = document.querySelector('.section-games-inner');
		  let gameModal = document.getElementById('the-Modal');
		  let closeModal = document.querySelector('#the-Modal .modal-close');
		  let modalBG = document.querySelector('.modal-background');
		  let iframeData;
		  let iframeTitle;
		  let theIframe = document.querySelector('.the-iframe');
		
		
		  // methods
		  let showModal = function (e) {
		    iframeData = e.target.closest('.single-game').getAttribute('data-iframe');
		    iframeTitle = e.target.closest('.single-game').getAttribute('data-title');
		    gameModal.classList.add('is-active');
		    if (theIframe) {
		
		      if (window.matchMedia("(min-width: 768px)").matches) {
		          theIframe.setAttribute('src', iframeData);
		      } else {
		          gameModal.classList.remove('is-active');
		          theIframe.setAttribute('src', '');
		          window.open(iframeData, '_blank');
		      }
		
		    }
		  }
		
		  // listeners
		  if (gameArea && !document.querySelector('body').classList.contains('page-template-page-lp')) {
		    gameArea.addEventListener('click', showModal, false);
		  }
		  closeModal.addEventListener('click', () => {
		    gameModal.classList.remove('is-active');
		    if (theIframe) {
		      theIframe.setAttribute('src', '');
		    }
		  });
		  modalBG.addEventListener('click', () => {
		    gameModal.classList.remove('is-active');
		    if (theIframe) {
		      theIframe.setAttribute('src', '');
		    }
		  });
		
		
			let showModal2 = function (event) {
				event.preventDefault();
				iframeData = 'https://cdn.ps-gamespace.com/gm/index.html?key=TEST550004&partner=playsonsite-prod&gameName=book_of_gold&lang=en&wl=pl_gate';
		    iframeTitle = 'Book Of Gold Double Chance';
		    gameModal.classList.add('is-active');
		    if (theIframe) {
		
		      if (window.matchMedia("(min-width: 768px)").matches) {
		          theIframe.setAttribute('src', iframeData);
		      } else {
		          gameModal.classList.remove('is-active');
		          theIframe.setAttribute('src', '');
		          window.open(iframeData, '_blank');
		      }
		
		    }
			}
		
		
			let showModal3 = function (event) {
				event.preventDefault();
				iframeData = 'https://cdn.ps-gamespace.com/gm/index.html?key=TEST550004&partner=playsonsite-prod&gameName=sakura_dragon&lang=en&wl=pl_gate';
				iframeTitle = 'Sakura Dragon';
				gameModal.classList.add('is-active');
				if (theIframe) {
		
					if (window.matchMedia("(min-width: 768px)").matches) {
							theIframe.setAttribute('src', iframeData);
					} else {
							gameModal.classList.remove('is-active');
							theIframe.setAttribute('src', '');
							window.open(iframeData, '_blank');
					}
		
				}
			}
	</script>
</body>

</html>